/* Reset default browser styles */
html, body {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);	
    color: #333333;
    line-height: 1.6;
    padding: 20px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  /* Header styles */
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 28px;
    margin: 0;
    padding: 10px 0;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #dddddd;
  }
  
  table td {
    background-color: #ffffff;
  }
  
  table td img {
    max-width: 100px;
    height: auto;
  }
  
  /* Link styles */
  a {
    color: #333333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  #loginWindow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 30px;
    background-color: lightgreen;
    display: none;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}
  