/* Reset default browser styles */
html, body {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);	
    color: #333333;
    line-height: 1.6;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 28px;
    margin: 0;
    padding: 10px 0;
  }
  
  /* Navigation styles */
  nav {
    text-align: center;
    margin-bottom: 20px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333333;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eeeeee;
  }
  
  nav ul li a:hover {
    background-color: #dddddd;
  }
  
  /* Table styles */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 8px;
    text-align: left;
  }
  
  table th {
    background-color: #dddddd;
  }
  
  table td {
    background-color: #ffffff;
  }
  
  table td img {
    max-width: 100px;
    height: auto;
  }
  
  /* Link styles */
  a {
    color: green;
  }
  
  a:hover {
    text-decoration: underline;
  }

  #loginWindow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    min-height: 30px;
    background-color: lightgreen;
    display: none;
    padding: 10px;
    border-radius: 5px;
}
#errorWindow {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 200px;
  min-height: 30px;
  background-color: lightcoral;
  display: none;
  padding: 10px;
  border-radius: 5px;
}
#warningWindow {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 200px;
  min-height: 30px;
  background-color: lightblue;
  display: none;
  padding: 10px;
  border-radius: 5px;
}





  